# Application
NODE_ENV='development'
LOG_LEVEL='info'

NEXT_PUBLIC_APP_URL='http://localhost:3000'

# Database
DATABASE_URL=

# BetterAuth
BETTER_AUTH_URL='http://localhost:3000'
BETTER_AUTH_SECRET=

# GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
